* {
    padding: 0%;
    margin: 0%;
}

html, body {
    height: 100%;
}

.headertext {
    padding: 16px;
}

.headertitle {
    font-family: 'Roboto', sans-serif;
    color: white;
    float: left;
}

header {
    flex-shrink: 0;
    position: relative;
    background: #555555;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
    z-index: 1;
    height: 64px;
}

.intro {
    position: absolute;
    bottom: 0%;
}

.intro.transition{
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    bottom: 100%;
}

.intro_text {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: x-large;
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}

.button {
    padding: 6px;
}

.main {
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: hidden;
}
.viewer {
    flex: auto;
    background-color: aliceblue;
    line-height: 0;
    display: block;
    height: 100%;
}